<p id="notice"></p>
      <!--ここから下が右側へ-->
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
              <%= render "users/userinfo", user: @user %>
              <%= render "books/newbook", book: @book %>
              <% if @book.errors.any? %>
                <%= @book.errors.count %> errors prohibited this obj from being saved
                <% @book.errors.full_messages.each do |message| %>
                <%= message %>
                <% end %>
                <% end %>
        </div>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
         <thead>
             <tr>
               <th></th>
               <th>Title</th>
               <th>Opinion</th>
               <th colspan="3"></th>
             </tr>
         </thead>
         <tbody>
           <tr>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <%= link_to user_path(book.user.id) do %>
                    <%= attachment_image_tag book.user, :profile_image, :fill, 50, 50,fallback: "no_image.jpg" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(book.id) do %>
                    <%= book.title %>
                  <% end %>
                </td>
                <td><%= book.body %></td>
              </tr>
            <% end %>
         </tbody>
        </table>
      </div>
    </div>
    <div class = "table_width">
            <table class="table table-bordered">
                 <h3>投稿数の前日比・前週比</h3>
                 <tbody>
                   <tr>
                    <th>今日の投稿数</th>
                    <th>前日の投稿数</th>
                    <th>前日比</th>
                   </tr>
                  </tbody>

                  <tbody>
                   <tr>
                     <td><%= @today_book.count %></td>
                     <td><%= @yesterday_book.count %></td>
                     <td>
                       <% if @yesterday_book.count == 0 %>
                       前日の投稿はありません
                       <% else %>
                       <% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
                       <!--to_fは小数点まで表示される。-->
                       <%= (@the_day_before * 100).round %>%
                       <% end %>
                     </td>
                   </tr>
                  </tbody>
            </table>

            <table class="table table-bordered">
                <tbody>
                   <tr>
                    <th>今週の投稿数</th>
                    <th>先週の投稿数</th>
                    <th>前週比</th>
                   </tr>
                </tbody>

                <tbody>
                   <tr>
                     <td><%= @this_week_book.count %></td>
                     <td><%= @last_week_book.count %></td>
                     <td>
                       <% if @last_week_book.count == 0 %>
                       前週の投稿はありません
                       <% else %>
                       <% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
                       <!--to_fは小数点まで表示される-->
                       <%= (@the_week_before * 100).round %>%
                       <% end %>
                    </td>
                   </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
              <h3>7日間分の投稿数</h3>
                <tbody>
                  <tr>
                  <% @labels.each do |label| %>
                    <th>
                    <%= label %>
                    </th>
                  <% end %>
                  </tr>
                  <tr>
                    <% @week_books.values.each do |v| %>
                    <td><%= v %></td>
                    <!--1は配列で件数を取るため-->
                    <% end %>
                  </tr>
                </tbody>
            </table>
            <canvas id="myChart" width="300" height="100"></canvas>
          </div>
      <%= form_with url: user_search_path(@user), method: :get, local: true do |f| %>
      <%= f.date_field :created_at %>
      <%= f.submit '検索', class: 'btn btn-primary' %>
      <% end %>

      <div id="search_result">

              <% if @search_book.present? %>
                <%= render 'search', search_book: @search_book %>
              <% end %>
            </div>
  </div>

<script>
  $(function() {
    var ctx = document.getElementById("myChart").getContext('2d');
  
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [<% @labels.each do |v| %>"<%= v %>",<% end %>],
        // labelsは横軸。文字列では取り出せない
        datasets: [{  <%# @week_books.each do |day| %>
          label: "投稿した本の数",
          data: <%= @week_books.values %>,
          // dateは縦軸
          backgroundColor: 'white',
          borderColor: 'blue',
          fill: false
        }]
      },
      options: {
        title:  {
          display: true,
          text: "7日間の投稿数の比較",
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              suggestedMin: 0,
              suggestedMax: 10,
            }
          }]
        }
      }
    });
  })
</script>
